@{
    ViewData["Title"] = "Privacy Policy";
}
<div>
<div class="row my-5">
    <div class="col-md-12 mx-auto rounded border p-5 shadow glass-effect">
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
</div>
</div>
</div>