@model tupadportal.Models.Batch

<div class="modal-header bg-info">
    <h5 class="modal-title" id="editModalLabel">Edit Batch</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="editForm" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="BatId" />
        <div class="form-group mb-3">
            <label asp-for="BatchName" class="control-label">Batch Name</label>
            <input asp-for="BatchName" class="form-control" readonly />
            <span asp-validation-for="BatchName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Slot" class="control-label"></label>
            <input asp-for="Slot" class="form-control" />
            <span asp-validation-for="Slot" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
        <label asp-for="Address.Barangay" class="control-label">Barangay</label>
        <input type="text" class="form-control" value="@Model.Address?.Barangay" disabled />
        <span asp-validation-for="Address.Barangay" class="text-danger"></span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#editForm').submit(function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Edit")',
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            $('#editModal').modal('hide');
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: response.message
                            }).then(() => {
                                location.reload();
                            });
                        } else {
                            $('#editModal .modal-body').html(response.html);
                        }
                    }
                });
            });
        });
    </script>
}
