@model IEnumerable<tupadportal.ViewModels.BatchDetailsViewModel>

<table class="table table-bordered table-hover">
    <thead class="table-secondary">
        <tr>
            <th>Batch Name</th>
            <th>Applicants / Slots</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var batch in Model)
        {
            <tr>
                <td>@batch.BatchName</td>
                <td>@batch.ApplicantCount / @batch.Slot</td>
            </tr>
        }
    </tbody>
</table>
